body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}




.bin-container {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.digit-container {
  width: 200px;
  padding: 5px;
}

.weight {
  width: 100%;
  text-align: center;
  background-color: #CCC;
  padding: 10px;
}

.digit {
  font-size: 150px;
  width: 100%;
  text-align: center;
  background-color: #CCC;
  padding: 10px;
  cursor: pointer;
}

.decimal-caption {
  width: 100%;
  font-size: 20px;
  color: #999;
  text-align: center;
  margin-top: 50px;
}

.decimal-number {
  margin-top: 50px;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}